In [241]:
import pandas as pd 
import numpy as np

In [242]:
data = pd.read_csv("Data/USA_Housing.csv")

In [243]:
data.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [244]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Avg. Area Income              5000 non-null   float64
 1   Avg. Area House Age           5000 non-null   float64
 2   Avg. Area Number of Rooms     5000 non-null   float64
 3   Avg. Area Number of Bedrooms  5000 non-null   float64
 4   Area Population               5000 non-null   float64
 5   Price                         5000 non-null   float64
 6   Address                       5000 non-null   object
dtypes: float64(6), object(1)
memory usage: 273.6+ KB

In [245]:
x = data.iloc[:,:-1].values
y= data.iloc[:,-1]

In [246]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x,y, test_size = 0.25, random_state= 40)
x_train

array([[6.14369189e+04, 5.53707982e+00, 6.21812593e+00, 2.21000000e+00,
        4.20326106e+04, 8.68713437e+05],
       [7.09504300e+04, 6.56684730e+00, 7.03146263e+00, 6.33000000e+00,
        3.97781378e+04, 1.53803960e+06],
       [7.63885520e+04, 5.58803815e+00, 6.84553233e+00, 2.20000000e+00,
        3.68411761e+04, 1.11472972e+06],
       ...,
       [8.08077328e+04, 6.29656491e+00, 5.81662767e+00, 2.47000000e+00,
        4.24059154e+04, 1.30428423e+06],
       [9.42418233e+04, 7.70120570e+00, 8.07153507e+00, 6.29000000e+00,
        3.91395730e+04, 2.18006560e+06],
       [5.17961336e+04, 6.24838261e+00, 7.17935388e+00, 6.43000000e+00,
        3.11784380e+04, 8.91468213e+05]])

In [247]:
x_test

array([[7.53916818e+04, 6.48438717e+00, 5.90375358e+00, 3.17000000e+00,
        4.33590213e+04, 1.43576977e+06],
       [8.58521492e+04, 5.62505540e+00, 7.34347587e+00, 5.45000000e+00,
        3.32003378e+04, 1.66844810e+06],
       [7.55377945e+04, 7.84521591e+00, 7.55566072e+00, 6.30000000e+00,
        3.27781953e+04, 1.76221468e+06],
       ...,
       [6.18750760e+04, 5.90214185e+00, 6.15220352e+00, 4.18000000e+00,
        3.58333931e+04, 9.75005774e+05],
       [7.83188145e+04, 5.50020008e+00, 5.84524383e+00, 2.05000000e+00,
        4.15693965e+04, 1.39399596e+06],
       [7.59086705e+04, 4.00151577e+00, 7.05110773e+00, 5.17000000e+00,
        3.50403312e+04, 1.03627706e+06]])

In [248]:
y_train

3305    96230 Alexis Heights Suite 279\nGregport, WV 5...
4579                            USS Swanson\nFPO AP 83456
1662                PSC 1483, Box 6662\nAPO AP 78821-4369
2851    8749 Zhang Mountains\nEast Jefferyfort, OK 425...
192            46619 Morgan Squares\nStevenfurt, FM 70548
                              ...
3603    96763 Brian Hill Suite 412\nSouth Alicia, MP 8...
4722       21931 Arellano Mills\nSouth Paulbury, UT 61934
3340       75696 Adam Hollow\nMichaelmouth, IA 36655-0630
3064    67636 Valerie Drive Apt. 521\nPort Curtis, AZ ...
3398    02229 Barnes Fields Suite 576\nNorth Tyler, KY...
Name: Address, Length: 3750, dtype: object

In [261]:
y_test

4088    847 Winters Loop Suite 036\nStaffordville, FM ...
2080                     PSC 8780, Box 7310\nAPO AE 82682
41                 549 Darren Plaza\nLake Kevin, UT 27155
796     05706 Ochoa Points Suite 263\nNorth Craig, MH ...
354     06882 Snyder Lake Suite 677\nEast Tracy, VT 49...
                              ...
2952     8031 Pennington Mission\nPort Nicholas, MA 07353
757     20330 Kendra Throughway Apt. 798\nSouth Timoth...
3907     213 Eaton Glen\nPort Zacharymouth, IN 79205-6001
1251       487 Pierce Islands\nPort Shannonfurt, MO 93719
4188    3662 Ramirez Ways Suite 019\nPhillipschester, ...
Name: Address, Length: 1250, dtype: object

In [250]:
print('x_train shape:', x_train.shape)
print('x_test shape:', x_test.shape)
print('y_train shape:', y_train.shape)
print('y_test shape:', x_test.shape)

x_train shape: (3750, 6)
x_test shape: (1250, 6)
y_train shape: (3750,)
y_test shape: (1250, 6)

In [251]:
data.drop(columns='Avg. Area Number of Bedrooms', inplace=True, axis=1)

In [252]:
data.drop(columns='Area Population', inplace=True, axis=1)

In [253]:
data.drop(columns='Avg. Area House Age', inplace=True, axis=1)

In [254]:
data.drop(columns='Address', inplace=True, axis=1)

In [255]:
data.drop(columns='Avg. Area Number of Rooms', inplace=True, axis=1)

In [256]:
data

      Avg. Area Income         Price
0         79545.458574  1.059034e+06
1         79248.642455  1.505891e+06
2         61287.067179  1.058988e+06
3         63345.240046  1.260617e+06
4         59982.197226  6.309435e+05
...                ...           ...
4995      60567.944140  1.060194e+06
4996      78491.275435  1.482618e+06
4997      63390.686886  1.030730e+06
4998      68001.331235  1.198657e+06
4999      65510.581804  1.298950e+06

[5000 rows x 2 columns]

In [257]:
# importer le modèle de la linear regression  
from sklearn.linear_model import LinearRegression

In [258]:
modele_Exercice = LinearRegression()

In [259]:
# entrainement du modèle 
modele_Exercice.fit(x_train, y_train)

ValueError: could not convert string to float: '96230 Alexis Heights Suite 279\nGregport, WV 57769-3580'