# A. IMPORTATION DE LIBRARIS

In [10]:
# Importation de libraries

# SSID: Dahouda-office et  Mot de Passe: Simba@2024

In [9]:
import numpy as np

# 1. Tableau

## 1.1 Tableau a 1 D

In [11]:
# Cration d'un tableau a 1D
tab_1D = np.array([2, 4, 6, 8, 10, 12, 14])

In [12]:
tab_1D

array([ 2,  4,  6,  8, 10, 12, 14])

In [13]:
print(tab_1D)

[ 2  4  6  8 10 12 14]

In [14]:
print(tab_1D.shape)

(7,)

In [15]:
type(tab_1D)

numpy.ndarray

In [16]:
print("Dimension du Tableau", tab_1D.shape)
print("Type du Tableau", type(tab_1D))
print("Voici le Tableau:", tab_1D)

Dimension du Tableau (7,)
Type du Tableau <class 'numpy.ndarray'>
Voici le Tableau: [ 2  4  6  8 10 12 14]

## 1.2 Tableau 2D

In [23]:
# Creaton d'un tableau a 2D
tab_2D = np.array([
    [1, 3, 5, 7, 8],
    [11, 33, 55, 77, 88],
    [10, 30, 50, 70, 80]
])

In [24]:
print("Dimension du Tableau", tab_2D.shape)
print("Type du Tableau", type(tab_2D))
print(tab_2D)

Dimension du Tableau (3, 5)
Type du Tableau <class 'numpy.ndarray'>
[[ 1  3  5  7  8]
 [11 33 55 77 88]
 [10 30 50 70 80]]

## 1.3 Tableau 3D

In [32]:
# Creation d'un tableeau 3D
tab_3D = np.array([[
    [11, 9, 7, 5, 3, 1],
    [110, 90, 70, 50, 30, 10],
    [115, 95, 75, 55, 35, 15],
    [1100, 900, 700, 500, 300, 100],
]])

In [33]:
print("Dimension du Tableau", tab_3D.shape)
print("Type du Tableau", type(tab_3D))
print(tab_3D)

Dimension du Tableau (1, 4, 6)
Type du Tableau <class 'numpy.ndarray'>
[[[  11    9    7    5    3    1]
  [ 110   90   70   50   30   10]
  [ 115   95   75   55   35   15]
  [1100  900  700  500  300  100]]]

## 1.4 Tableau a 4D

In [38]:
# Creation d'un Tableau a 4D
tab_4D = np.array([[[
    [2, 4, 6, 8, 10],
    [25, 45, 65, 85, 105],
    [20, 40, 60, 80, 100],
]]])

In [39]:
print("Dimension du Tableau", tab_4D.shape)
print("Type du Tableau", type(tab_4D))
print(tab_4D)

Dimension du Tableau (1, 1, 3, 5)
Type du Tableau <class 'numpy.ndarray'>
[[[[  2   4   6   8  10]
   [ 25  45  65  85 105]
   [ 20  40  60  80 100]]]]

# B. OPERATIONS