TABLEAU A UNE DIMENSION

In [3]:
import numpy as np

tab_1D=np.array ([5, 2, 3, 25, 64])
print (f"le tableau à une dimension : {tab_1D}")

le tableau à une dimension : [ 5  2  3 25 64]

TABLEAU A DEUX DIMENSIONS

In [5]:
import numpy as np

tab_2D=np.array ([
    [5, 2, 3, 25, 64],
    [58, 3, 4, 17, 33]
])
print (f"le tableau à deux dimensions : {tab_2D}")

le tableau à deux dimensions : [[ 5  2  3 25 64]
 [58  3  4 17 33]]

TABLEAU A 3 DIMENSIONS

In [7]:
import numpy as np

tab_3D=np.array ([[
    [5, 2, 3, 25, 64],
    [58, 3, 4, 17, 33],
    [99, 66, 48, 58, 67]
]])
print (f"le tableau à trois dimensions : {tab_3D}")

le tableau à trois dimensions : [[[ 5  2  3 25 64]
  [58  3  4 17 33]
  [99 66 48 58 67]]]

In [14]:
import numpy as np

tab_4D=np.array ([[[
    [19, 256, 3, 25, 43],
    [58, 415, 4, 12, 33],
    [99, 64541, 48, 55, 67]
]]])
print (f"le tableau à quatre dimensions : {tab_4D}")
tab_4D.shape

le tableau à quatre dimensions : [[[[   19   256     3    25    43]
   [   58   415     4    12    33]
   [   99 64541    48    55    67]]]]

(1, 1, 3, 5)

In [22]:
import numpy as np

a=np.array ([
    [2,4,6,8],
    [25,45,65,85]
])

b=np.array ([
    [20,40,60,80],
    [250,450,650,850]
])

print (f"ADDITION : \n{a+b} \n\n SOUSTRACTION : \n{a-b} \n\n DIVISION : \n{a/b} \n\n MULTIPLICATION \n {a*b}")

ADDITION :
[[ 22  44  66  88]
 [275 495 715 935]]

 SOUSTRACTION :
[[ -18  -36  -54  -72]
 [-225 -405 -585 -765]]

 DIVISION :
[[0.1 0.1 0.1 0.1]
 [0.1 0.1 0.1 0.1]]

 MULTIPLICATION
 [[   40   160   360   640]
 [ 6250 20250 42250 72250]]

MANIPULATION DES DONNEES

In [26]:
#création d'un dictionnaire
Info_Etudiants={
    'Matricule': '2022020132',
    'Nom':'TSHAKWANDA',
    'prenom':'OBED',
    'Age':'21',
    'GPA':'A'
}

Info_Etudiants

{'Matricule': '2022020132',
 'Nom': 'TSHAKWANDA',
 'prenom': 'OBED',
 'Age': '21',
 'GPA': 'A'}

In [28]:
Info_10_Etudiants={
    'Matricule': ['2022020132','2022020501','202202035','202202064','2022020135',
                 '202202068','202202096','2022202007','2022020810','202202068'],
    'Nom':['TSHAKWANDA','KALOKO','KITENGE','KALUWE','ILUNGA',
           'KALONJI','FEZA','NKULU','KABONGO','MULAND'],
    'prenom':['OBED','CHARLY','ALEKA','BENFILS','CHARLLY','DJANEL','CHRIS','DEBORAH','KETTIA','CERTIO'],
    'Age':['21','19','13','42','35','26','19','22','24','35'],
    'GPA':['A','A','A','A','A','A','A','A','A','A']
}

Info_10_Etudiants

{'Matricule': ['2022020132',
  '2022020501',
  '202202035',
  '202202064',
  '2022020135',
  '202202068',
  '202202096',
  '2022202007',
  '2022020810',
  '202202068'],
 'Nom': ['TSHAKWANDA',
  'KALOKO',
  'KITENGE',
  'KALUWE',
  'ILUNGA',
  'KALONJI',
  'FEZA',
  'NKULU',
  'KABONGO',
  'MULAND'],
 'prenom': ['OBED',
  'CHARLY',
  'ALEKA',
  'BENFILS',
  'CHARLLY',
  'DJANEL',
  'CHRIS',
  'DEBORAH',
  'KETTIA',
  'CERTIO'],
 'Age': ['21', '19', '13', '42', '35', '26', '19', '22', '24', '35'],
 'GPA': ['A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A']}

In [44]:
import pandas as pd

Info_10_Etudiants={
    'Matricule': ['2022020132','2022020501','202202035','202202064','2022020135',
                 '202202068','202202096','2022202007','2022020810','202202068'],
    'Nom':['TSHAKWANDA','KALOKO','KITENGE','KALUWE','ILUNGA',
           'KALONJI','FEZA','NKULU','KABONGO','MULAND'],
    'prenom':['OBED','CHARLY','ALEKA','BENFILS','CHARLLY','DJANEL','CHRIS','DEBORAH','KETTIA','CERTIO'],
    'Age':['21','19','13','42','35','26','19','22','24','35'],
    'GPA':['A','A','A','A','A','A','A','A','A','A']
}

Données_étudiants =pd.DataFrame(Info_10_Etudiants)

Données_étudiants

    Matricule         Nom   prenom Age GPA
0  2022020132  TSHAKWANDA     OBED  21   A
1  2022020501      KALOKO   CHARLY  19   A
2   202202035     KITENGE    ALEKA  13   A
3   202202064      KALUWE  BENFILS  42   A
4  2022020135      ILUNGA  CHARLLY  35   A
5   202202068     KALONJI   DJANEL  26   A
6   202202096        FEZA    CHRIS  19   A
7  2022202007       NKULU  DEBORAH  22   A
8  2022020810     KABONGO   KETTIA  24   A
9   202202068      MULAND   CERTIO  35   A

In [54]:
import pandas as pd

Info_10_Etudiants={
    'Matricule': ['2022020132','2022020501','202202035','202202064','2022020135',
                 '202202068','202202096','2022202007','2022020810','202202068'],
    'Nom':['TSHAKWANDA','KALOKO','KITENGE','KALUWE','ILUNGA',
           'KALONJI','FEZA','NKULU','KABONGO','MULAND'],
    'prenom':['OBED','CHARLY','ALEKA','BENFILS','CHARLLY','DJANEL','CHRIS','DEBORAH','KETTIA','CERTIO'],
    'Age':['21','19','13','42','35','26','19','22','24','35'],
    'GPA':['A','A','A','A','A','A','A','A','A','A']
}

Données_étudiants =pd.DataFrame(Info_10_Etudiants)

Données_étudiants['Matricule']

0    2022020132
1    2022020501
2     202202035
3     202202064
4    2022020135
5     202202068
6     202202096
7    2022202007
8    2022020810
9     202202068
Name: Matricule, dtype: object

In [68]:
import pandas as pd

Info_10_Etudiants={
    'Matricule': ['2022020132','2022020501','202202035','202202064','2022020135',
                 '202202068','202202096','2022202007','2022020810','202202068'],
    'Nom':['TSHAKWANDA','KALOKO','KITENGE','KALUWE','ILUNGA',
           'KALONJI','FEZA','NKULU','KABONGO','MULAND'],
    'prenom':['OBED','CHARLY','ALEKA','BENFILS','CHARLLY','DJANEL','CHRIS','DEBORAH','KETTIA','CERTIO'],
    'Age':['21','19','13','42','35','26','19','22','24','35'],
    'GPA':['A','A','A','A','A','A','A','A','A','A']
}

Données_étudiants =pd.DataFrame(Info_10_Etudiants)

Données_étudiants[['Matricule'],['Nom']]

TypeError: 'DataFrame' object is not callable

In [56]:
import pandas as pd

Info_10_Etudiants={
    'Matricule': ['2022020132','2022020501','202202035','202202064','2022020135',
                 '202202068','202202096','2022202007','2022020810','202202068'],
    'Nom':['TSHAKWANDA','KALOKO','KITENGE','KALUWE','ILUNGA',
           'KALONJI','FEZA','NKULU','KABONGO','MULAND'],
    'prenom':['OBED','CHARLY','ALEKA','BENFILS','CHARLLY','DJANEL','CHRIS','DEBORAH','KETTIA','CERTIO'],
    'Age':['21','19','13','42','35','26','19','22','24','35'],
    'GPA':['A','A','A','A','A','A','A','A','A','A']
}

Données_étudiants =pd.DataFrame(Info_10_Etudiants)

Données_étudiants.iloc[:,:]

    Matricule         Nom   prenom Age GPA
0  2022020132  TSHAKWANDA     OBED  21   A
1  2022020501      KALOKO   CHARLY  19   A
2   202202035     KITENGE    ALEKA  13   A
3   202202064      KALUWE  BENFILS  42   A
4  2022020135      ILUNGA  CHARLLY  35   A
5   202202068     KALONJI   DJANEL  26   A
6   202202096        FEZA    CHRIS  19   A
7  2022202007       NKULU  DEBORAH  22   A
8  2022020810     KABONGO   KETTIA  24   A
9   202202068      MULAND   CERTIO  35   A

In [74]:
import pandas as pd

Info_10_Etudiants={
    'Matricule': ['2022020132','2022020501','202202035','202202064','2022020135',
                 '202202068','202202096','2022202007','2022020810','202202068'],
    'Nom':['TSHAKWANDA','KALOKO','KITENGE','KALUWE','ILUNGA',
           'KALONJI','FEZA','NKULU','KABONGO','MULAND'],
    'prenom':['OBED','CHARLY','ALEKA','BENFILS','CHARLLY','DJANEL','CHRIS','DEBORAH','KETTIA','CERTIO'],
    'Age':['21','19','13','42','35','26','19','22','24','35'],
    'GPA':['A','A','A','A','A','A','A','A','A','A']
}

Données_étudiants =pd.DataFrame(Info_10_Etudiants)

Données_étudiants.iloc[1:2,1:2]

      Nom
1  KALOKO

In [80]:
import pandas as pd

Info_10_Etudiants={
    'Matricule': ['2022020132','2022020501','202202035','202202064','2022020135',
                 '202202068','202202096','2022202007','2022020810','202202068'],
    'Nom':['TSHAKWANDA','KALOKO','KITENGE','KALUWE','ILUNGA',
           'KALONJI','FEZA','NKULU','KABONGO','MULAND'],
    'prenom':['OBED','CHARLY','ALEKA','BENFILS','CHARLLY','DJANEL','CHRIS','DEBORAH','KETTIA','CERTIO'],
    'Age':['21','19','13','42','35','26','19','22','24','35'],
    'GPA':['A','A','A','A','A','A','A','A','A','A']
}

Données_étudiants =pd.DataFrame(Info_10_Etudiants)

Données_étudiants['Genre']=['M','M','M','M','M','M','F','F','F','M']
Données_étudiants['Pourcentage']=['98','85','82','89','80','95','93','87','85','96']
Données_étudiants

    Matricule         Nom   prenom Age GPA Genre Pourcentage
0  2022020132  TSHAKWANDA     OBED  21   A     M          98
1  2022020501      KALOKO   CHARLY  19   A     M          85
2   202202035     KITENGE    ALEKA  13   A     M          82
3   202202064      KALUWE  BENFILS  42   A     M          89
4  2022020135      ILUNGA  CHARLLY  35   A     M          80
5   202202068     KALONJI   DJANEL  26   A     M          95
6   202202096        FEZA    CHRIS  19   A     F          93
7  2022202007       NKULU  DEBORAH  22   A     F          87
8  2022020810     KABONGO   KETTIA  24   A     F          85
9   202202068      MULAND   CERTIO  35   A     M          96

In [ ]:
import pandas as pd

Info_10_Etudiants={
    'Matricule': ['2022020132','2022020501','202202035','202202064','2022020135',
                 '202202068','202202096','2022202007','2022020810','202202068'],
    'Nom':['TSHAKWANDA','KALOKO','KITENGE','KALUWE','ILUNGA',
           'KALONJI','FEZA','NKULU','KABONGO','MULAND'],
    'prenom':['OBED','CHARLY','ALEKA','BENFILS','CHARLLY','DJANEL','CHRIS','DEBORAH','KETTIA','CERTIO'],
    'Age':['21','19','13','42','35','26','19','22','24','35'],
    'GPA':['A','A','A','A','A','A','A','A','A','A']
}

Données_étudiants =pd.DataFrame(Info_10_Etudiants)

Données_étudiants['Genre']=['M','M','M','M','M','M','F','F','F','M']
Données_étudiants['Pourcentage']=['98','85','82','89','80','95','93','87','85','96']
Données_étudiants.drop(colums